NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:5173
DATABASE_URL="mysql://reachinbox:reachinbox@localhost:3306/reachinbox"
REDIS_URL=redis://localhost:6379

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=
ETHEREAL_PASS=
DEFAULT_FROM_EMAIL=ReachInbox Demo <no-reply@example.test>

ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=emails

WORKER_CONCURRENCY=5
MIN_SEND_DELAY_MS=2000
MAX_EMAILS_PER_HOUR=200

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_CALLBACK_URL=http://localhost:4000/api/slack/callback
SLACK_REDIRECT_AFTER_CONNECT=http://localhost:5173
SESSION_SECRET=change-this-in-production
